!!!
%html
  %head
    %title NoteNote | Your online Notebook
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
    %header
      .header_inner
        = link_to image_tag('logo.svg'), root_path, id: 'logo'
        %nav
          - if user_signed_in?
            = link_to 'New Note', new_note_path
            = link_to 'Sing Out', destroy_user_session_path, method: :delete
          - else
            = link_to 'Log In', new_user_session_path





    %p.notice= notice
    %p.alert= alert

    = yield
